openapi: 3.1.0
info:
  title: FastAPI
  version: "0.1.0"

paths:

  /posts:
    post:
      summary: Create Post Api
      operationId: create_post_api_posts_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostIn"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"

  /posts/latest:
    get:
      summary: Get Latest
      operationId: get_latest_posts_latest_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}

  /posts/search:
    get:
      summary: Search
      operationId: search_posts_search_get
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            title: Q
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"

  /posts/{post_id}:
    get:
      summary: Get Post
      operationId: get_post_posts__post_id__get
      parameters:
        - name: post_id
          in: path
          required: true
          schema:
            type: integer
            title: Post Id
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"

components:
  schemas:

    PostIn:
      title: PostIn
      type: object
      required:
        - image
        - comment
        - username
      properties:
        image:
          type: string
          title: Image
        comment:
          type: string
          title: Comment
        username:
          type: string
          title: Username

    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: "#/components/schemas/ValidationError"

    ValidationError:
      title: ValidationError
      type: object
      required:
        - loc
        - msg
        - type
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
              - type: string
              - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
